In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv(r"C:\Users\Dell\Desktop\Duplicate Question Pair\train.csv")
df.shape

(404290, 6)

In [4]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [5]:
new_df = df.sample(30000)

In [6]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [7]:
new_df.duplicated().sum()

0

In [8]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
253604,How should I talk to this girl in my college l...,How do I talk to a girl in class?
213095,Does a score of 29/36 on the Ravens advanced m...,Which modern people today are genetically clos...
94682,Will Dragon Ball Super write off the continuit...,Where can I watch Dragon Ball Z episodes engli...
76118,Are we inside a black hole?,How do we know we are not living in a black hole?
184155,How do I sleep faster?,How can I get to sleep faster?

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
# merge texts
questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [10]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [11]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
253604,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
213095,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76118,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
184155,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133366,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
116973,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
156424,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
124809,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137053,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [13]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
253604,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
213095,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76118,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
184155,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7431666666666666

In [17]:
!pip install xgboost

Defaulting to user installation because normal site-packages is not writeable

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting xgboost
  Downloading xgboost-3.0.5-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\dell\appdata\roaming\python\python312\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\dell\appdata\roaming\python\python312\site-packages (from xgboost) (1.13.0)
Downloading xgboost-3.0.5-py3-none-win_amd64.whl (56.8 MB)
   ---------------------------------------- 0.0/56.8 MB ? eta -:--:--
   ---------------------------------------- 0.3/56.8 MB ? eta -:--:--
    --------------------------------------- 0.8/56.8 MB 2.8 MB/s eta 0:00:20
   - -------------------------------------- 1.6/56.8 MB 3.0 MB/s eta 0:00:19
   - -------------------------------------- 2.6/56.8 MB 3.5 MB/s eta 0:00:16
   -- ------------------------------------- 3.7/56.8 MB 3.9 MB/s eta 0:00:14
   --- ------------------------------------ 5.0/56.8 MB 4.3 MB/s eta 0:00:13
   ---- ----------------------------------- 6.6/56.8 MB 4.7 MB/s eta 0:00:11
   ----- ---------------------------------- 7.9/56.8 MB 5.0 MB/s eta 0:00:10
   ------ --------------------------------- 9.4/56.8 MB 5.3 MB/s eta 0:00:09
   ------- -------------------------------- 11.3/56.8 MB 5.7 MB/s eta 0:00:09
   --------- ------------------------------ 13.1/56.8 MB 6.0 MB/s eta 0:00:08
   ---------- ----------------------------- 14.7/56.8 MB 6.1 MB/s eta 0:00:07
   ----------- ---------------------------- 16.0/56.8 MB 6.1 MB/s eta 0:00:07
   ------------ --------------------------- 17.8/56.8 MB 6.3 MB/s eta 0:00:07
   ------------- -------------------------- 19.7/56.8 MB 6.5 MB/s eta 0:00:06
   --------------- ------------------------ 21.5/56.8 MB 6.6 MB/s eta 0:00:06
   ---------------- ----------------------- 23.3/56.8 MB 6.7 MB/s eta 0:00:05
   ----------------- ---------------------- 24.9/56.8 MB 6.9 MB/s eta 0:00:05
   ------------------ --------------------- 26.2/56.8 MB 6.8 MB/s eta 0:00:05
   ------------------- -------------------- 28.0/56.8 MB 6.9 MB/s eta 0:00:05
   --------------------- ------------------ 29.9/56.8 MB 7.0 MB/s eta 0:00:04
   ---------------------- ----------------- 32.0/56.8 MB 7.1 MB/s eta 0:00:04
   ----------------------- ---------------- 33.8/56.8 MB 7.2 MB/s eta 0:00:04
   ------------------------- -------------- 35.9/56.8 MB 7.2 MB/s eta 0:00:03
   -------------------------- ------------- 37.2/56.8 MB 7.2 MB/s eta 0:00:03
   --------------------------- ------------ 39.1/56.8 MB 7.3 MB/s eta 0:00:03
   ---------------------------- ----------- 40.9/56.8 MB 7.4 MB/s eta 0:00:03
   ------------------------------ --------- 43.0/56.8 MB 7.4 MB/s eta 0:00:02
   ------------------------------- -------- 44.8/56.8 MB 7.5 MB/s eta 0:00:02
   -------------------------------- ------- 46.7/56.8 MB 7.5 MB/s eta 0:00:02
   --------------------------------- ------ 48.2/56.8 MB 7.5 MB/s eta 0:00:02
   ----------------------------------- ---- 50.1/56.8 MB 7.6 MB/s eta 0:00:01
   ------------------------------------ --- 51.9/56.8 MB 7.6 MB/s eta 0:00:01
   ------------------------------------- -- 53.7/56.8 MB 7.6 MB/s eta 0:00:01
   ---------------------------------------  55.6/56.8 MB 7.7 MB/s eta 0:00:01
   ---------------------------------------  56.6/56.8 MB 7.7 MB/s eta 0:00:01
   ---------------------------------------  56.6/56.8 MB 7.7 MB/s eta 0:00:01
   ---------------------------------------  56.6/56.8 MB 7.7 MB/s eta 0:00:01
   ---------------------------------------  56.6/56.8 MB 7.7 MB/s eta 0:00:01
   ---------------------------------------  56.6/56.8 MB 7.7 MB/s eta 0:00:01
   ---------------------------------------  56.6/56.8 MB 7.7 MB/s eta 0:00:01
   ---------------------------------------- 56.8/56.8 MB 6.6 MB/s eta 0:00:00
Installing collected packages: xgboost
Successfully installed xgboost-3.0.5

In [18]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

0.728